PORT=3000
DATABASE_URL="postgresql://admin:password123@localhost:5432/ativos_ti?schema=public"

# Eu utilizei o .env.example para seguir as boas práticas de segurança. 
# Ele serve como um template para que qualquer pessoa consiga configurar o ambiente rapidamente

# Como utilizar?
# No readme.md, linha 114.